@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,700;1,500&display=swap");
body {
  background-color: #c7cad0;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: #0b164f;
  font-weight: 700;
}

h1 {
  font-size: 1em;
  color: #01070d;
  word-spacing: 2;
  line-height: 2;
  font-weight: 400;
}

h3 {
  font-weight: 700;
  color: #01070d;
}

span {
  font-weight: 600;
}

#contenedorPadre {
  display: flex;
}

#carrito {
  min-height: 30vh;
  max-width: 70%;
  margin: 0 auto;
  background-color: #797382;
  text-align: center;
}

.table__productos {
  display: flex;
}

.table__productos > img {
  width: 5rem;
  object-fit: contain;
  border-radius: 4px;
}
.table__cantidad > input {
  width: 35px;
  border: none;
  outline: 0;
}

.prod-banner {
  height: 101vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-image: url(../media/pacman.jpg);
}

@media all and (max-width: 768px) {
  .prod-banner {
    background-image: url(../media/pacmanmd.png);
    height: 20vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
}

@media all and (max-width: 425px) {
  .prod-banner {
    background-image: url(../media/pacmanmob.png);
    height: 20vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
}

.container-fluid nav {
  background: linear-gradient(to left, #152146, #2d6366);
  font-weight: 700;
}

.container-fluid .navbar-light .navbar-nav .nav-link {
  color: white;
}

.container-fluid .navbar .nav-item {
  padding-left: 15px;
}

.container-fluid .navbar-light .navbar-toggler {
  background-color: #c7cad0;
  outline: none;
}

.container-fluid a {
  margin: 0px 15px 0px 15px;
  padding: 0px 10px 0px 10px;
}

.row p {
  text-align: center;
  font-weight: 400;
  word-spacing: 2;
  line-height: 2;
}

.row a {
  text-decoration: none;
  color: 700;
}

.btn-dark {
  background-color: #373440;
  border-color: grey;
  color: white;
}
.btn-dark:hover {
  background-color: #202531;
}

.container-about {
  min-height: 5vh;
  margin: 1rem;
  background-color: #9a96c3;
  font-size: 1rem;
  font-weight: 600;
  color: #01070d;
}
.container-about p {
  font-weight: 400;
  word-spacing: 2;
  line-height: 2;
  text-align: justify;
}
.container-about p span {
  font-size: 1rem;
  font-weight: 700;
  color: #01070d;
}

#nosotros {
  font-weight: 700;
  font-size: 2rem;
  text-align: center;
}

.icon-joystick {
  text-align: center;
  font-size: 9rem;
}

.icon-about {
  font-size: 3rem;
  text-align: -moz-center;
  margin: 50px;
  max-width: 95%;
}
.icon-about p {
  font-weight: 600;
  font-size: 1rem;
  text-align: center;
}

.container {
  background: #202531;
}
.container #ofertas .producto {
  padding: 5px;
}
.container #ofertas .producto .card .card-body {
  text-align: center;
}
.container #ofertas .producto .card .card-body .card-title {
  height: 75px;
}
.container #ofertas .producto .card .card-body .card-text {
  font-weight: 700;
}
.container #ofertas .producto .card .btn-dark {
  background-color: #373440;
  border-color: grey;
}

.modal-content {
  width: 80%;
}

.modal-header {
  background-color: #c7cad0;
}

.modal-title {
  text-align: center;
  font-weight: 600;
}

.input-group {
  max-width: 45%;
}

button .btn-secondary {
  background-color: #202531;
}
button .btn-secondary:focus {
  outline-color: transparent;
  outline-style: none;
}

button a {
  text-decoration: none;
  color: white;
}
button a:hover {
  text-decoration: none;
  color: white;
}

.page-link {
  background-color: #202531;
  color: white;
}
.page-link:hover {
  background-color: #9a96c3;
  color: #01070d;
}

.container-formulario {
  background-color: #202531;
  width: 100%;
  text-align: center;
  padding-right: 15px;
}
.container-formulario p {
  text-align: center;
  margin-left: 1rem;
  font-weight: 700;
  font-size: 2rem;
  color: #c7cad0;
}
.container-formulario textarea {
  text-align: center;
  resize: none;
}
.container-formulario input {
  text-align: center;
}
.container-formulario button {
  background-color: #202531;
}
.container-formulario button:hover {
  background-color: #9a96c3;
  color: white;
  border-color: #202531;
}

.footer ul li {
  text-align: center;
}
.footer ul li a {
  text-decoration: none;
  margin-top: 4px;
  color: white;
}

.icon i {
  font-size: 2rem;
  color: white;
  text-align: center;
}

h3 {
  font-weight: 600;
  text-align: center;
  border: 4px solid #373440;
  width: 100%;
  background-color: #9a96c3;
}

.contenedor-resident {
  min-height: 40vh;
  width: 100%;
}
.contenedor-resident p {
  text-align: center;
}

.contenedor-filtro {
  text-align: center;
}

a.btn.btn-primary {
  text-decoration: none;
  background-color: #202531;
  color: white;
}
a.btn.btn-primary:hover {
  background-color: #9a96c3;
  color: #01070d;
}
a.btn.btn-primary:hoverfocus {
  box-shadow: none;
  outline: none;
}

@media all and (max-width: 778px) {
  .input-group {
    width: 60%;
  }
}
